<div>
    <p>Timetable v3.21.1</p>
    <ul>
        <li>Minor maintaining chores. ("Minor fixes and changes")</li>
        <li>Fixes spelling, and wording improvements.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.21.0</p>
    <ul>
        <li>Feature: Course Syllabus for selected class.</li>
        <li>New class pop-up mode box design, now utilized content box.</li>
        <li>Added support for M505 in semester 1/2024.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.20.4</p>
    <ul>
        <li>Hotfix: 'pawin.tk' now changed to 'pawin.me'.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.20.3</p>
    <ul>
        <li>Hotfix: Time remaining subject display issues.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.20.2</p>
    <ul>
        <li>Hotfix: Time remaining in PWA display issues.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.20.1</p>
    <ul>
        <li>Hotfix: Time remaining in PWA display issues.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.20.0</p>
    <ul>
        <li>Revamped time remaining box, with subject name and extended classes support.</li>
        <li>Fixed "Noto Sans Thai Looped" font missing.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.19.0</p>
    <ul>
        <li>Highlight current class with "Star current class" setting.</li>
        <li>Notification center has been given a fresh new look.</li>
        <li>Default settings has now been updated with more modern options.</li>
        <li>Settings will now only reload if nescessary.</li>
        <li>Removed 'beta.pawin.tk' to-do in development mode, it's not online anymore.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.18.2</p>
    <ul>
        <li>Attempted fix to big picture background.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.18.1</p>
    <ul>
        <li>Big picture mode background is now based on 'Aerials' collection.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.18.0</p>
    <ul>
        <li>Added big picture mode. Showing time and current classes, while also showing beautiful videos.</li>
        <li>Note: Big picture is currently not supported in custom classes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.17.1</p>
    <ul>
        <li>Fixed language to be more consistent in class popup.</li>
        <li>Added subject description in class popup.</li>
        <li>Class data changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.17.0</p>
    <ul>
        <li>Added Sundays and Saturdays to the table.</li>
        <li>Improved class pop-up mode box</li>
        <li>New monospace font, 'Tlwg Typewriter'</li>
    </ul>
</div>
<div>
    <p>Timetable v3.16.0</p>
    <ul>
        <li>Class overrides is now a weekly data, and will be automatically update upon new week.</li>
        <li>Timetable files update.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.15.0</p>
    <ul>
        <li>Added week dates in grid days.</li>
        <li>'DClass' and 'AllDay' has been replaced with '-extend' flag, will merge with the grid before.</li>
        <li>'Add Work' in to-do popup now redirects to pawin.tk.</li>
        <li>Moved time to navigation bar instead in PWA.</li>
        <li>Added class overrides, overridden classes will show up as a darker/lighter border.</li>
        <li>Timetable files update.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.14.0</p>
    <ul>
        <li>v3.14 = π? 🤔</li>
        <li>Added 'AllDay' variable in config settings. (Put information in the first cell of the day, and put 'AllDay' at the end.)</li>
        <li>Timetable files update.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.13.0</p>
    <ul>
        <li>Added period number.</li>
        <li>Backend update.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.12.1</p>
    <ul>
        <li>Refactored CSS into small components.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.12.0</p>
    <ul>
        <li>Added 'Passed Works' tab on to-do window, using the to-do data version '0.1.7'.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.11.0</p>
    <ul>
        <li>PWA-tailored navigation bar.</li>
        <li>Supports for Pawin's to-do data version '0.1.7'.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.10.2</p>
    <ul>
        <li>Fixed a <b>forever</b> issue on popup background blur when pressing close button, while multiple popup boxes is open.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.10.1</p>
    <ul>
        <li>Added UI view for PWA apps. (standalone)</li>
    </ul>
</div>
<div>
    <p>Timetable v3.10.0</p>
    <ul>
        <li>Added support for PWA apps.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.9.0</p>
    <ul>
        <li>Added a local popup for adding an item in pawin.tk's to-do list. (Must be logged in on pawin.tk)</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.10</p>
    <ul>
        <li>Moved the to-do URL to the title instead of the description, due to text visibility reasons.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.9</p>
    <ul>
        <li>Changed wording and phrases in setting items to be more consistent with other items.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.8</p>
    <ul>
        <li>Added development mode, to turn on this feature, run <a onclick="toggleDevMode()">toggleDevMode()</a> in the console to toggle.</li>
        <li>Fixed time remaining enabled unexpectedly when disabled.</li>
        <li>Added new links and classes to the 405 data.</li>
        <li>Supports for Pawin's to-do data version '0.1.6'.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.7</p>
    <ul>
        <li>Minor changes to wording in optional features settings group.</li>
        <li>Supports for Pawin's to-do data version '0.1.5'.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.6</p>
    <ul>
        <li>Fixed to-do's due month being 1 month before actual date.</li>
        <li>
            Removed the 
            <span style="
                background: linear-gradient(130deg, 
                    var(--color-red) 16.66%,
                    var(--color-orange) 33.32%,
                    var(--color-yellow) 49.98%,
                    var(--color-green) 66.64%,
                    var(--color-blue) 83.3%,
                    var(--color-purple));

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                width: max-content;

                font-weight: var(--font-weight-bold);
            ">
                pride
            </span>
            glow in the title for visibility.
        </li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.5</p>
    <ul>
        <li>Supports for Pawin's to-do data version '0.1.4'.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.4</p>
    <ul>
        <li>Added day name, and reformatted the day to Thai standards to to-do date.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.3</p>
    <ul>
        <li>Changed the to-do table layout table to be cleaner, more mobile friendly, and more aligned with pixelpxed table design.</li>
        <li>Note: pixelpxed table design has now been updated slightly with odd/even row colors to be more easier for your viewing experience.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.2</p>
    <ul>
        <li>Added a popup notification when fetching a page content failed.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.1</p>
    <ul>
        <li>Fixed an unexpected popup, and subject cards UI in Safari, and touch screen devices.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.8.0</p>
    <ul>
        <li style="
            background: linear-gradient(130deg, 
                var(--color-red) 16.66%,
                var(--color-orange) 33.32%,
                var(--color-yellow) 49.98%,
                var(--color-green) 66.64%,
                var(--color-blue) 83.3%,
                var(--color-purple));

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            width: max-content;

            font-weight: var(--font-weight-bold);
        ">Happy Pride month!</li>
        <li>Subject cards, hover over a subject to see a little information about the subject. This is an optional feature so you can toggle it in settings.</li>
        <li>405 To-do list, check reminders, assignments, and exams here. Credit: <a href="https://pawin.tk/">pawin.tk</a>.</li>
        <li>Error notification ribbon now has a lighter border.</li>
        <li>Timetable provider has now updated class to 405.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.7.2</p>
    <ul>
        <li>Timetable, and along with other major pixelpxed applications will now detect if the user has no JavaScript enabled, and will redirect to an error page.</li>
        <li>Backend optimizations.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.7.1</p>
    <ul>
        <li>Added a default option for override time list settings for existing Timetable users.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.7.0</p>
    <ul>
        <li>Ability to override default time list is now available in settings.</li>
        <li>Added dropdowns to settings page for easier navigation.</li>
        <li>Simplified some of the settings option.</li>
        <li>Transition between themes in pop-up boxes should now be smoother.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.6.1</p>
    <ul>
        <li>Spelling fix on the offline notification box.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.6.0</p>
    <ul>
        <li>Added buttons to the navigation bar.</li>
        <li>Navigation bar is now hidden behind when full page overlay popup is present.</li>
        <li>Navigation bar is now scrollable when overflowing on <i>super</i> small device screens.</li>
        <li>Timetable backend data update.</li>
        <li><i>Happy 2023!</i></li>
    </ul>
</div>
<div>
    <p>Timetable v3.5.2</p>
    <ul>
        <li>Changed connection popup message.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.5.1</p>
    <ul>
        <li>Timetable will now work properly with the URL not ending with a slash.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.5.0</p>
    <ul>
        <li>New application icon to fit in with other products icon consistencies.</li>
        <li>Major Timetable data changes. This might reset your Timetable data, we're sorry for the inconvenience.</li>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.9</p>
    <ul>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.8</p>
    <ul>
        <li>Online/Offline notification.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.7</p>
    <ul>
        <li>Optimization in CPU load.</li>
        <ul>
            <li>Changed the clock refresh rate from 1ms to 1000ms</li>
            <li>Minor fixes and changes.</li>
        </ul>
    </ul>
</div>
<div>
    <p>Timetable v3.4.6</p>
    <ul>
        <li>Fixed custom class not being set in setup.</li>
        <li>Updated font family in code boxes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.5</p>
    <ul>
        <li>Fixed a critical bug resulting in the user unable to join majority of the class and bookmarks when using
            class pop-up mode.</li>
        <li>Timetable will now only fetch settings page on first time opening in the session.</li>
        <li>Changed time remaining message in the morning.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.4</p>
    <ul>
        <li>Minor fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.3</p>
    <ul>
        <li>Timetable description now shows the correct description for class popup mode.</li>
        <li>Minor bug fixes, changes, and optimization.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.2</p>
    <ul>
        <li>Bug fixes and loads of optimization in Timetable.</li>
        <li>Update popup would now be a notification instead.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.1</p>
    <ul>
        <li>The option for class popup mode is now available in setup.</li>
        <li>Added a default option for class in setup.</li>
        <li>Icon buttons and inputs are now animated when hovered.</li>
        <li>Rest in peace, retiring Timetable Mobile.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.4.0</p>
    <ul>
        <li>New Feature</li>
        <ul>
            <li>Introducing the class popup mode. When you click on a class, a links window would appear for you to use.
                Turn this feature on/off in settings.</li>
        </ul>
        <li>Fixes and Changes</li>
        <ul>
            <li>To avoid misclick and confusion, bookmark links are now the same width as the text.</li>
        </ul>
    </ul>
</div>
<div>
    <p>Timetable v3.3.1</p>
    <ul>
        <li>Time remaining sound is now playing properly when the period ends.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.3.0</p>
    <ul>
        <li>New Features</li>
        <ul>
            <li>Settings from setup can now also be changed in the settings page.</li>
            <li>New <i>drippy</i> easter egg. (If you didn't crack the code...)</li>
        </ul>
        <li>Fixes and Changes</li>
        <ul>
            <li>Time remaining broken in settings is now fixed.</li>
            <li>Popup no longer have the blinking animation.</li>
            <li>Minor fixes and changes.</li>
        </ul>
        <li>Known Issue</li>
        <ul>
            <li>Time remaining sound is not playing when the period ends.</li>
        </ul>
    </ul>
</div>
<div>
    <p>Timetable v3.2.0</p>
    <ul>
        <li>New Features</li>
        <ul>
            <li>Automatic theme, Timetable will sync the theme with your system theme.</li>
            <li>Special time list and online time list, this feature can be set by your Timetable provider.</li>
            <li><b>Highlight!</b> Time remaining, you can enable this feature in settings. Please note that this feature
                is in beta, so it might have bugs.</li>
        </ul>
        <li>Fixes and Changes</li>
        <ul>
            <li>Timetable now has a settings page.</li>
            <li>Changelog has been renamed to About Timetable, which will includes the timetable information also.</li>
            <li>The notification box now has a exit animation, and improved the enter animation.</li>
            <li>You can now press enter to search on Google search box.</li>
            <li>Minor bug fixes and changes.</li>
        </ul>
    </ul>

</div>
<div>
    <p>Timetable v3.1.2</p>
    <ul>
        <li>Adjusted bigger font size on landscape iOS devices</li>
    </ul>
</div>
<div>
    <p>Timetable v3.1.1</p>
    <ul>
        <li>Fixed overall elements of Timetable style on small screens.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.1.0</p>
    <ul>
        <li>Re-added the auto theme selector, if the user never switch theme after setting Timetable up.</li>
        <li>New embed image.</li>
    </ul>
</div>
<div>
    <p>Timetable v3.0.0</p>
    <ul>
        <li><b>Main</b></li>
        <ul>
            <li>Rewrote everything.</li>
            <li>Simplified Timetable UI.</li>
            <li>New color scheme, more vibrant!</li>
            <li>New popup and notification system.</li>
            <li>The UI is now more consistent.</li>
            <li>Timetable now has it's own icon.</li>
            <li>You can now setup classes in the setup page.</li>
            <li>Timetable Mobile currently only supports class 305, visiting with other class will redirect you back to
                the main version.</li>
        </ul>
        <li><b>Removed features</b></li>
        <ul>
            <li>Change language</li>
            <ul>
                <li>Unused</li>
            </ul>
            <li>Archive</li>
            <ul>
                <li>Unused</li>
            </ul>
            <li>Download Timetable</li>
            <ul>
                <li>Replaced by ability to customize timetable from the setup.</li>
            </ul>
        </ul>
    </ul>
</div>
<div>
    <p>Timetable v2.10.2</p>
    <ul>
        <li>Fixed broken or unused links.</li>
        <li>Simplified the setup screen.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.10.1</p>
    <ul>
        <li>Fixed changelog frame color.</li>
        <li>Fixed minor spelling issues.</li>
        <li>Fixed remember class swap feature.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.10.0</p>
    <ul>
        <li>Added ability to change Google account index.</li>
        <li>Timetable will now remember your prefered color theme.</li>
        <li>Minor bug fixes and changes.</li>
        <li>Web Only: Changed 'On-Site/Online Calandar' button to be at the QuickLinks section.</li>
        <li>We've reached the 10th version for Timetable v2, thank you for using our Timetable!</li>
    </ul>
</div>
<div>
    <p>Timetable v2.9.2</p>
    <ul>
        <li>Redesigned the update ribbon to be more ✨ beautiful. ✨</li>
        <li>Soon: Frequent updates to fill in links for web Timetable.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.9.1</p>
    <ul>
        <li>Web Only: Added links that are available from <a href="http://www.mysk.school/" target="_blank">MySK</a> at
            the time to the table.</li>
        <li>Timetable (Basic UI) is being renamed to Timetable (Mobile)</li>
        <li>Timetable (Mobile): First phase UI update.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.9.0</p>
    <ul>
        <li>More customizable: Language swapper is now no longer hard coded, you can change this in 'config.js' file.
        </li>
    </ul>
</div>
<div>
    <p>Timetable v2.8.2</p>
    <ul>
        <li>Fixed translating issues on Chinese and Japanese classes.</li>
        <li>Added M305 classes.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.8.1</p>
    <ul>
        <li>Minor bug fixes and changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.8.0</p>
    <ul>
        <li>Timetable will remember the subject swapping option.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.7.4</p>
    <ul>
        <li>Added translation for 'On-Site/Online Calander' button.</li>
        <li>Fixed table overflow styling issues.</li>
        <li>Minor changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.7.3</p>
    <ul>
        <li>Updated On-Site/Online calandar to current Timetable color scheme.</li>
        <li>Table Changes: Disabled Japanese/Chinese switch temporary.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.7.2</p>
    <ul>
        <li>Fixed displaying 'On-Site/Online Calander' button on light mode.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.7.1</p>
    <ul>
        <li>Fixed font displaying issues on 'On-Site/Online Calandar.'</li>
        <li>Updated 'Changelog' page font to Outfit to fit other pages.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.7.0</p>
    <ul>
        <li>Removed no-internet connection notifier.</li>
        <li>Added 'archives' page to prepare for new class refresh.</li>
        <li>You can now check if that week you're going on-site/online.</li>
        <li>The 'Download Timetable' button will be renamed to 'Download Timetable v2.3.0'</li>
    </ul>
</div>
<div>
    <p>Timetable v2.6.1</p>
    <ul>
        <li>There's now no option to ignore the new version notification.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.6.0</p>
    <ul>
        <li>Introducing no-internet connection notifier.</li>
        <li>Relocated location of the 'new version' box.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.5.0</p>
    <ul>
        <li>Introducing auto update checker, will notify you if there's an update to Timetable. (This checking will
            occur every one minute.)</li>
        <li>Fixed Japanese class joining issues.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.4.0</p>
    <ul>
        <li>At the footer of the regular Timetable will include the link to Basic UI version of Timetable.</li>
        <li>Introducing Timetable (Basic UI), basic view of Timetable that includes video call and class joining.
            (mobile compatible)</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.6</p>
    <ul>
        <li>Reduced loading screen time to 0.3 seconds after the page is done loading.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.5</p>
    <ul>
        <li>Added loading screen.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.4</p>
    <ul>
        <li>Right click menu is now only disabled while hovering on table.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.3</p>
    <ul>
        <li>Right click menu is now only disabled while hovering on subject grids.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.2</p>
    <ul>
        <li>Fixed font scaling issue on landscape iOS devices.</li>
        <li>Fixed the color on the popup time indicator for other colors use.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.1</p>
    <ul>
        <li>The popup box now has a time indicator.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.3.0</p>
    <ul>
        <li>Minor code optimization.</li>
        <li>Minor messages change.</li>
        <li>Language change button. (For the web version would be Thai)</li>
        <li>The popup menu now has a close button.</li>
        <li>This changelog frame would now only display in dark mode.</li>
        <li>This Timetable version would be available for download. Users who opt in for change would need to rewrite
            their config.js file also.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.2.1</p>
    <ul>
        <li>Minor code optimization.</li>
        <li>Subject swapper message has been changed.</li>
        <li>This changelog has now been rearranged from newest to oldest.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.2.0</p>
    <ul>
        <li>Theme mode switch, so you can change modes without needing to change your system color scheme.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.1.1</p>
    <ul>
        <li>Updated the changelog file so the background so it would match popup background in light mode.</li>
        <li>Minor bug fixes and changes</li>
    </ul>
</div>
<div>
    <p>Timetable v2.1.0</p>
    <ul>
        <li>Easier Timetable bookmarks customization update. Download Timetable to see changes.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.0.3</p>
    <ul>
        <li>Fixed Career Google Meet link, since part of it was missing. Sorry for the inconvenience!</li>
    </ul>
</div>
<div>
    <p>Timetable v2.0.2</p>
    <ul>
        <li>Updated the Core Maths Google Meet link, since it was changed.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.0.1</p>
    <ul>
        <li>Updated the Art Google Meet link, since it was changed.</li>
    </ul>
</div>
<div>
    <p>Timetable v2.0.0</p>
    <ul>
        <li>Rewrite the backend system, for customizable Timetable.</li>
        <li>You can now make your own Timetable! Download it at the footer of the page</li>
        <li>New Japanese class button for Japanese class students (Finally!)</li>
        <li>Better mobile Timetable view (Ability to join classroom will be added soon!)</li>
        <li>New pop up messages (I'm very proud of this one...)</li>
        <li>For light mode users, background is now white. <i>Flashbang!</i></li>
        <li>Minor interface changes</li>
        <li>Note: Contact me for Timetable related things at Discord: PixelEdition#2899</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.8</p>
    <ul>
        <li>Updated the Guidance Google Meet link, since it was changed.</li>
        <li><i>Timetable v2.0.0 soon.</i></li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.7</p>
    <ul>
        <li>Removed "Google Docs" quicklink to "Google Drive" in favor of usefulness.</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.6</p>
    <ul>
        <li>Updated the Homeroom Google Meet link, since it was changed.</li>
        <li>Changed how a easter egg would be displayed, and added more easter egg.</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.5</p>
    <ul>
        <li>Revert certain part of JavaScript code that's made the user unable to join class</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.4</p>
    <ul>
        <li>Minor bug fixes and changes</li>
        <li>Optimized JavaScript code</li>
        <li>Added this Changelog button</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.3</p>
    <ul>
        <li>Minor bug fixes and changes</li>
        <li>Added website's sidebar</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.2</p>
    <ul>
        <li>Minor bug fixes and changes</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.1</p>
    <ul>
        <li>Minor bug fixes and changes</li>
    </ul>
</div>
<div>
    <p>Timetable v1.5.0</p>
    <ul>
        <li>Reverted to v1.4.3's code</li>
        <li>Added "Search with Google"</li>
        <li>Minor bug fixes and changes</li>
    </ul>
</div>
<div>
    <p>Timetable v1.4.4</p>
    <ul>
        <li>Migrate the whole timetable into just 1 file</li>
    </ul>
</div>
<div>
    <p>Timetable v1.4.3</p>
    <ul>
        <li>Minor bug fixes and changes</li>
        <li>Added "Are you having pain" easter egg.</li>
    </ul>
</div>
<div>
    <p>Timetable v1.4.2</p>
    <ul>
        <li>Minor bug fixes and changes</li>
        <li>Close button for 'Go Dark' ribbon</li>
    </ul>
</div>
<div>
    <p>Timetable v1.4.1</p>
    <ul>
        <li>Minor bug fixes and changes</li>
    </ul>
</div>
<div>
    <p>Timetable v1.4.0</p>
    <ul>
        <li>Updated the timetable for semester 2</li>
    </ul>
</div>
<div>
    <p>Timetable v1.3.1</p>
    <ul>
        <li>Minor bug fixes and changes</li>
    </ul>
</div>
<div>
    <p>Timetable v1.3.0</p>
    <ul>
        <li>Added back "Or, let's watch YouTube" button back in the form of "Watch YouTube?" on the alert box</li>
        <li>Added console log to track what users doing to get any future errors</li>
    </ul>
</div>
<div>
    <p>Timetable v1.2.1</p>
    <ul>
        <li>Changed the timetable's time to match current school's time in the pandemic</li>
    </ul>
</div>
<div>
    <p>Timetable v1.2.0</p>
    <ul>
        <li>Removed switch that changed the type of class</li>
        <li>Added left click to join Google Meet, and right click to join Google Classroom</li>
        <li>Removed error pages, it'll instead show up in the alert box</li>
        <li>Removed "Or, let's watch YouTube" button, will be added back later</li>
    </ul>
</div>
<div>
    <p>Timetable v1.1.0</p>
    <ul>
        <li>Changed the table folder from 'TimeTable-Links' to 'Timetable'</li>
        <li>Added light mode (Eye killer!)</li>
        <li>Changed dark mode color scheme to be more viberant</li>
        <li>Change Timetable's Date text to be 50% transparent</li>
        <li>Added a switch to switch class type between Google Meet and Google Classroom</li>
    </ul>
</div>
<div>
    <p>Timetable v1.0.0</p>
    <ul>
        <li>Added clock back</li>
        <li>Added date/day</li>
        <li>Changed color scheme</li>
        <li>QuickLinks and After School Links UI are changed</li>
    </ul>
</div>
<div>
    <p>Timetable v0.2.0</p>
    <ul>
        <li>Added Timetable date</li>
        <li>Clock removed for improvements</li>
        <li>Change default font to 'DM Sans'</li>
        <li>Changed color scheme to be more colorful</li>
        <li>Added more error pages to specify the problem</li>
    </ul>
</div>
<div>
    <p>Timetable v0.1.0</p>
    <ul>
        <li>Default font is 'Sarabun'</li>
        <li>Added Clock</li>
        <li>Added timetable, QuickLinks, and after school links</li>
    </ul>
</div>