<div class="settings-wrapper contentbox-wrapper" style="display: block;">
    <div class="popup-content">
        <p class="popup-title">Settings</p>

        <div class="settings-section-wrapper">
            <p class="settings-option-label">
                <span class="material-symbols-outlined">
                    style
                </span>
                <span>
                    <b>
                        Themes
                    </b><br>
                    <span class="popup-description">
                        Themes will be applied across updated pixelpxed pages.
                    </span>
                </span>
            </p>
            <div style="margin-left: 2em;">
                <label class="settings-option-label">
                    <input name="settings-theme" type="radio" value="sync-os">
                    <span class="material-symbols-outlined">
                        astrophotography_auto
                    </span>
                    <span>
                        Automatic
                    </span>
                </label>
                <label class="settings-option-label">
                    <input name="settings-theme" type="radio" value="dark">
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span>
                    <span>
                        Dark
                    </span>
                </label>
                <label class="settings-option-label">
                    <input name="settings-theme" type="radio" value="light">
                    <span class="material-symbols-outlined">
                        light_mode
                    </span>
                    <span>
                        Light
                    </span>
                </label>
            </div>
        </div>

        <div class="settings-section-wrapper">
            <p class="settings-option-label">
                <span class="material-symbols-outlined">
                    info
                </span>
                <span>
                    <b>
                        Timetable Info
                    </b><br>
                    <span class="popup-description">
                        Data linked to your classes and video calls.
                    </span>
                </span>
            </p>

            <div style="margin-left: 2em;">
                <div>
                    <div class="settings-option-label">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                        <span>
                            Google account index
                            <a onclick="popupOK(`Google Account Index Help`, `<img src='/timetable/assets/img/googleindexno.svg' style='width: 100%; border: 1px solid var(--color-gray-4); border-radius: 0.3rem; margin-top: 1rem;'>`)">
                                (Help)
                            </a><br>
                            <span class="popup-description">
                                Google account to sign into.
                            </span>
                        </span>
                    </div>
                    <input type="number" name="gaiindex" id="setings-gaiindex" min="0" value="0">
                </div>

                <div>
                    <p class="settings-option-label">
                        <span class="material-symbols-outlined">
                            school
                        </span>
                        <span>
                            Class<br>
                            <span class="popup-description">
                                Select your class to fill into the table.
                            </span>
                        </span>
                    </p>
                    <div style="margin: 0.5em 0;">
                        <label class="settings-option-label">
                            <input name="settings-class" type="radio" value="505">
                            <span>
                                505 <span style="opacity: 50%;">(2024)</span>
                            </span>
                        </label>
                        <label class="settings-option-label">
                            <input name="settings-class" type="radio" value="custom">
                            <span>
                                Custom Class
                                <a target="_blank" href="./templates/custom.json">(Format)</a>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="settings-class-custom-wrapper"
                    style="display: none; overflow: hidden; transition: 0.2s ease-in-out; margin: 0 0 0.5em 2em;">
                    <div>
                        <p class="settings-option-label">
                            <span class="material-symbols-outlined">
                                edit_note
                            </span>
                            <span>
                                Custom Class Information<br>
                                <span class="popup-description">
                                    Fill in your custom timetable class names.
                                </span>
                            </span>
                        </p>
                        <textarea type="text" class="settings-class-custom-json custom-json" data-gramm="false"
                            data-gramm_editor="false" data-enable-grammarly="false"></textarea>
                    </div>
                    <a class="popup-button popup-button-full" onclick="saveCustomTimetable()">Save Change</a>
                </div>

                <div>
                    <p class="settings-option-label">
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <span>
                            Override Time List<br>
                            <span class="popup-description">
                                Overrides your Timetable provider time list setting.
                            </span>
                        </span>
                    </p>
                    <div style="margin: 0.5em 0;">
                        <label class="settings-option-label">
                            <input name="settings-timelistoverride" type="radio" value="auto">
                            <span class="material-symbols-outlined">
                                language
                            </span>
                            <span>
                                Timetable provider<br>
                                <span class="popup-description">
                                    Use your Timetable provider setting.
                                </span>
                            </span>
                        </label>
                        <label class="settings-option-label">
                            <input name="settings-timelistoverride" type="radio" value="regular">
                            <span class="material-symbols-outlined">
                                notes
                            </span>
                            <span>
                                Regular<br>
                                <span class="popup-description">
                                    10 classes, 50 minutes, no breaks in between.
                                </span>
                            </span>
                        </label>
                        <label class="settings-option-label">
                            <input name="settings-timelistoverride" type="radio" value="special">
                            <span class="material-symbols-outlined">
                                notes
                            </span>
                            <span>
                                Special<br>
                                <span class="popup-description">
                                    10 classes, 40 minutes, no breaks in between.
                                </span>
                            </span>
                        </label>
                        <label class="settings-option-label">
                            <input name="settings-timelistoverride" type="radio" value="online">
                            <span class="material-symbols-outlined">
                                notes
                            </span>
                            <span>
                                Online<br>
                                <span class="popup-description">
                                    10 classes, 40 minutes, 20 minutes every other classes.
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="settings-section-wrapper">
            <p class="settings-section-title settings-option-label">
                <span class="material-symbols-outlined">
                    checklist
                </span>
                <span>
                    <b>
                        Optional Features
                    </b><br>
                    <span class="popup-description">
                        A opt-in quality-of-life features for Timetable.
                    </span>
                </span>
            </p>
            <div style="margin-left: 2em;">
                <label class="settings-option-label">
                    <input class="settings-subjectcard" type="checkbox" name="subjectcard"
                    value="enable-subjectcard">
                    <span class="material-symbols-outlined">
                        tips_and_updates
                    </span>
                    <span>
                        Subject hover cards<br>
                        <span class="popup-description">
                            Shows a little info card about the subject when hovered.
                        </span>
                    </span>
                </label>
                <label class="settings-option-label">
                    <input class="settings-popupmode" type="checkbox" name="popupmode" 
                        value="enable-popupmode">
                    <span class="material-symbols-outlined">
                        open_in_new
                    </span>
                    <span>
                        Class pop-up mode<br>
                        <span class="popup-description">
                            (Mobile friendly) Show links window when click on a class.
                        </span>
                    </span>
                </label>
                <label class="settings-option-label">
                    <input class="settings-timeremaining" type="checkbox" name="timeremaining"
                        value="enable-timeremaining">
                    <span class="material-symbols-outlined">
                        schedule
                    </span>
                    <span>
                        Time remaining<br>
                        <span class="popup-description">
                            Shows the time remaining till the end of a period.
                        </span>
                    </span>
                </label>
                <label class="settings-option-label">
                    <input class="settings-timeremaining" type="checkbox" name="timeremaining-sound"
                        value="enable-timeremaining-sound">
                    <span class="material-symbols-outlined">
                        volume_up
                    </span>
                    <span>
                        Period end sound<br>
                        <span class="popup-description">
                            When the period ends, play virtual school bell sound.
                        </span>
                    </span>
                </label>
                <label class="settings-option-label">
                    <input class="settings-highlightcurclass" type="checkbox" name="curclass-highlight"
                        value="enable-timeremaining">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span>
                        Star current class<br>
                        <span class="popup-description">
                            Highlight the current class grid.
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="settings-section-wrapper">
            <p class="settings-section-title settings-option-label">
                <span class="material-symbols-outlined">
                    warning
                </span>
                <span>
                    <b>
                        Danger Zone
                    </b><br>
                    <span class="popup-description">
                        These actions can't be undone, proceed with caution.
                    </span>
                </span>
            </p>
            <div style="display: flex; flex-direction: column; gap: 0.5rem; margin-left: 2em;">
                <a class="popup-button popup-button-full" onclick="toggleDevMode()">Toggle Developer Mode</a>
                <a class="popup-button popup-button-danger popup-button-full" onclick="resetTimetable()">Reset Timetable</a>
            </div>
        </div>
    </div>
    <div class="popup-buttons-box">
        <div class="popup-buttons-wrapper">
            <a class="popup-button" onclick="closeSettings()">Save</a>
        </div>
    </div>
</div>