<!-- Setup Elements -->
<div id="setup-wrapper" class="contentbox-wrapper" style="display: block;">
    <div class="popup-content">
        <!-- Setup Title -->
        <p>
            <span class="popup-title">Let's setup your Timetable.</span>
            <span>
                This setup screen will only pop up on your first visit,
                sometimes when you clear your browser cache/cookies,
                or when you decided to reset your Timetable in settings.
            </span>
        </p>

        <div style="margin-top: 1em;">
            <div>
                <p class="settings-option-label">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                    <span>
                        Class<br>
                        <span class="popup-description">
                            Select your class to fill into the table.
                        </span>
                    </span>
                </p>
                <div style="margin: 0.5em 0;" onload="checkForCustomJSON()">
                    <label class="settings-option-label">
                        <input name="setup-class" class="setup-class-default" type="radio"
                            value="cu_2390113_p13_sci_comsci">
                        <span class="material-symbols-outlined">
                            notes
                        </span>
                        <span>
                            CU / 2390113 / Part 13 / Sci-ComSci<br>
                            <span class="popup-description">
                                Updated by your Timetable provider.
                            </span>
                        </span>
                    </label>
                    <label class="settings-option-label">
                        <input name="setup-class" type="radio" value="custom">
                        <span class="material-symbols-outlined">
                            edit_note
                        </span>
                        <span>
                            Custom Class
                            <a target="_blank" href="./templates/custom.json">(Format)</a>
                            <br>
                            <span class="popup-description">
                                Create your personal class.
                            </span>
                        </span>
                    </label>
                </div>

                <div class="setup-class-custom-wrapper"
                    style="display: none; overflow: hidden; transition: 0.2s ease-in-out; margin: 0 0 0.5em 2em;">
                    <div>
                        <p class="settings-option-label">
                            <span class="material-symbols-outlined">
                                edit_note
                            </span>
                            <span>
                                Custom Class Information<br>
                                <span class="popup-description">
                                    Fill in your custom timetable class names.
                                </span>
                            </span>
                        </p>
                        <textarea type="text" class="setup-class-custom-json custom-json" data-gramm="false"
                            data-gramm_editor="false" data-enable-grammarly="false"></textarea>
                    </div>
                </div>
            </div>

            <div>
                <p class="settings-option-label">
                    <span class="material-symbols-outlined">
                        login
                    </span>
                    <span>
                        Google account index
                        <a
                            onclick="popupOK(`Google Account Index Help`, `<img src='/timetable/assets/img/googleindexno.svg' style='width: 100%; border: 1px solid var(--color-gray-4); border-radius: 0.3rem; margin-top: 1rem;'>`)">
                            (Help)
                        </a><br>
                        <span class="popup-description">
                            Google account to sign into.
                        </span>
                    </span>
                </p>
                <input type="number" name="gaiindex" class="setup-gaiindex" min="0" value="0">
            </div>
            <img src="./assets/img/googleindexno.svg" class="setup-img"
                alt="Step 1: Go to Google Classroom, then log into your preferred account to use for your Timetable.
                    Step 2: Observe the URL, you should see the Google account index like this: 'https://classroom.google.com/u/{Index Number}/h'">
        </div>
    </div>
    <div class="popup-buttons-box">
        <div class="popup-buttons-wrapper">
            <a class="popup-button" onclick="completeSetup()">Complete Setup</a>
        </div>
    </div>
</div>